---
import Page from '../layouts/Page.astro';
---

<Page>
	<p>
		I'm a software developer that loves to learn and create. I've always got something on the go!
	</p>
	<p>
		One of my creative outlets is writing, which you can find on my <a href="/blog">blog</a>.
		You can find a list of my previous and ongoing projects <a href="/projects">here</a>.
	</p>
</Page>
