---
import Page from "../layouts/Page.astro";
---

<Page>
  <h2>Current</h2>
  <ul>
    <li><a href="https://apollo.fyi">Apollo - Discord calendar bot</a></li>
    <li>
      <a href="https://github.com/jgayfer/dot">Dot - My personal dotfiles</a>
    </li>
    <li>
      <a href="https://github.com/jgayfer/aureum-tyria"
        >Aureuem Tyria - A toy Rust tool to analyze the GW2 trading post</a
      >
    </li>
  </ul>
  <h2>Past</h2>
  <ul>
    <li>
      <a href="https://github.com/jgayfer/overwatch_league_bot"
        >Overwatch League Discord Bot</a
      >
    </li>
    <li>
      <a href="https://github.com/jgayfer/pydest"
        >Pydest - An async Python Destiny 2 API wrapper</a
      >
    </li>
    <li>
      <a href="https://github.com/jgayfer/spirit"
        >Spirit - A Destiny 2 Discord bot</a
      >
    </li>
  </ul>
</Page>
